
.singleCoinImage{
  width: 8rem;
}
.sinngleCoinTopName{
  text-align: center;
}
.singleCoinTopPart {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.chartCompWrapper {
  padding: 0 1rem;
}

/* Single Coin Details Box Starts Here */
.coinDetails-box {
  padding: 0 3rem;
}
.detail_box_top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
}
.price_details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.eye_icon {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: #ffff;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}
.details_flex {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding-bottom: 10px;

  gap: 10px;
  margin-bottom: 12px;
}
.details_flex small {
  color: #b6b0b0;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.12rem;
}
.details_flex p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.detail_box_main {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: top;
}
.green {
  color: rgb(18, 223, 18) !important;
}

.red {
  color: red !important;
}

@media screen and (max-width: 768px) {
  .details_flex {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    border-bottom: 1px solid rgb(68, 67, 67);
  }
}
