body,
html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  /* overflow-x: hidden; */
}
.btn-ui {
  border-radius: 50px;
  outline: none;
  padding: 1rem 1.5rem;
  border: none;
  transition: background-color ease 0.1s;
  font-size: 15px;
  text-wrap: nowrap;
}
.btn-ui:active {
  background-color: #575656;
  scale: 0.9;
}

@media screen and (max-width: 1200px) {
}
